ruff
black
isort
pytest
httpx
sqlalchemy
python-dotenv
rich
asgi-correlation-id
python-json-logger
python-jose
python-multipart
passlib[bcrypt]
pytest-mock
anyio
pytest-asyncio
aiofiles
b2sdk
pyfakefs
pydantic-settings
psycopg2
databases[asyncpg]
sentry-sdk[fastapi]